<h1 class="page-header">
    Sobre
</h1>
<p>
    Aplicativo para controle de cheques emitidos, desenvolvido pela 
    Fábrica de Software da Faculdade Sete de Setembro - FASETE.
</p><br><br>
<table class="table table-striped">
  <tbody>
    <tr>
      <td><label>Fábrica de Software</label></td>
      <td><a href="http://fasete.edu.br/fabrica-de-software/" target="_blank" >Acessar</a></td>
    </tr>
    <tr>
      <td><label>Desenvolvedor</label></td>
      <td>Geraldo Antônio dos Santos Júnior</td>
    </tr>
  </tbody>
</table>
